<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Books</title>
    <link rel="stylesheet" href="../css/Style.css">
</head>
<body>
    <h1>update Book</h1>
    <form method="post" action="/update/<%= book.id%>">
        <label for="title" >Title:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>">
        <br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= book.author%>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/book/<%= book.id%>">View</a>
    <a href="/delete/<%= book.id%>">Delete</a>
    <a href="/">Back to list</a>
</body>
</html>