<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>author</th>
            <th>Action</th>
        </tr>
        <% for(var i = 0; i < books.length;i++) { %>
        <tr>
            <td><%= book[i].title%></td>
            <td><%= book[i].author></td>
            <td>
                <a href="/book/<%= book[i].id%>">View</a>
                <a href="/update/<%= book[i].id%>">Edit</a>
                <a href="/delete/<%= book[i].id%>">Delete</a>
            </td>
        </tr>
        <%}%>
    </table>
    <a href="/create">Create New Book</a>
</body>
</html>